@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css?family=Grenze&display=swap');
body{
    display: grid;
    grid-template-areas: 
    "haus haus haus haus haus"
    "valmynd valmynd valmynd valmynd valmynd"
    "vinstri midja midja midja haegri"
    "fotur fotur fotur fotur fotur";
}
.header{
    grid-area: haus;
    border: 2px solid black;
    text-align: center;
    padding-bottom: 10px;
    font-family: Mansalva;
    font-size: 30px
}
.navbar{
    grid-area: valmynd;
    border: 2px solid black;
    border-top: 0px;
    border-bottom: 0px;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}
.article{
    grid-area: vinstri;
    border: 2px solid black;
    border-bottom: 0px;
    padding: 15px;
}
.main{
    grid-area: midja;
    border-top: 2px solid black;
    padding: 15px;
}
.i_midju{
    border: black solid 2px;
    padding: 10px;
    margin: 30px;
}
.aside{
    grid-area: haegri;
    border: 2px solid black;
    border-bottom: 0px;
    padding: 15px;
}
.footer{
    grid-area: fotur;
    border: 2px solid black;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}
.audio{
    display: none;
}
p{
    font-family: Grenze;
}
h1{
    font-family: Mansalva;
}